body{
  overflow-x: hidden;
}
.logo{
  color: white;
}
.row{
  padding: 0;
  margin: 0;
}
.col{
  margin: 0;
  padding: 0;
}
a{
  color: black;
  text-decoration-style: none;
}
a:hover{
  color: black;
}
img{
border-radius: 8px;
transition: all 0.3s ease;
 box-shadow: 5px 5px 10px 0px #cccccc;
}
.screen-view{
  width: 100%;
  padding: 0;
  margin: 5vh 0;
  height: 83%;
}
.col-2{
  padding: 0;
}
.col-4{
  padding: 0;
  height: 100%;
}
.col-8{
  padding: 0 0 0 100px;
  height: 100%;
  box-sizing: border-box;
}
.container-padding{
  width: 100%;
  box-sizing: border-box;
  padding: 5vh 5vw;
  height: 100%;
}
.navbar{
  padding: 0;
  margin: 0;
}
.container-fluid{
  height: 100vh;
  overflow: hidden;
}
.bold-text{
  font-weight: 700;
}
.text-area h1{
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 24px;
}
.text-area{
  margin-top: 15vh;
}
.project-mob{
  position: relative;
}
.project-mob:hover .project-number{
  opacity: 0.6;
}
.p0{
  width: 0%;
}
.p25{
  width: 25%;
}
.p50{
  width: 50%;
}
.p75{
  width: 75%;
}
.p100{
 width: 100%;
}
.project-number{
  margin-top: -15px;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
}
.number-font{
  font-size: 750px;
  color: #eeeeee;
  opacity: 0.8
}
.selected-project-area{
  padding: 15px 0;
}
.about{
  position: relative;
}
.hey-you{
  width: 100%;
  text-align: center;
  height: 100%;
  max-height: 387px;
}
.color-picker{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.navigation-button{
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}
button:focus {
  outline:0;
}
.arrow{
  box-shadow: none;
  filter: invert(60%);
  margin-right: 8px;
  margin-top: -2px;
  height: 18px;
}
.arrow-right{
  box-shadow: none;
  filter: invert(60%);
  margin-left: 8px;
  margin-top: -2px;
  transform: rotate(180deg);
  height: 18px;
}
.red{
  fill: red;
  background-color: red;
  color: red;
}
.blue{
  fill: blue;
  background-color: blue;
  color: blue;
}
.green{
  fill: green;
  background-color: green;
  color: green;
}
.svg-position{
  position: absolute;
  top:0;
  left: 0;
  transform:rotate(180deg);
  height: 100vh;
  opacity:0.07;
}
.warn{
  box-shadow: none;
  margin-top: -2px;
  padding: 6px 6px 6px 0;
}
.color-button{
  display: inline-block;
  float: left;
  margin-right: 5%;

}
.color-button-size{
  height: 30px;
  width: 30px;
  border-radius: 4px;
  border: none;
}
.link-button{
  border-radius: 50px;
  border: none;
  margin-top: 16px;
  padding: 6px 16px;
  background: white;
}
li{
  list-style: none;
}
.mini-project{
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.mini-project:hover img{
  margin-top: -4px;
  box-shadow: 8px 8px 8px 0px #cccccc;
}
#selectedProject{
  width: 100%;
}
#selectedProject img{
  width: 100%;
}
#projectList{
  margin: 5vh 0;
}
#projectList img{
  width: 100%;
}
#projectMenu{
  width: 100%;
  box-sizing: border-box;
}
/*Position Utilities*/
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
